## Visual Studio Build Results
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]est[Rr]esults/

## Visual Studio Environment
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Database & Local Settings
*.db
*.db-shm
*.db-wal
appsettings.Development.json
appsettings.Local.json

## Publish Output
*.pubxml
*.publish.htm
*.azurepubxml

## Rider/IntelliJ
.idea/

## MacOS
.DS_Store